body{  
    margin: 0;
}

#page-heading{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 3%;
    color: rgb(114, 112, 112);
    font-size: 3rem;
    font-family: sans-serif;
}

#contacts{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}

#contact-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(7, 125, 164);
    font-family: sans-serif;
    color: white;
}
.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#contact-card:hover{
    background-color: grey;
    cursor: pointer;
}
.form-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
 
}
input{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none; 
}
input:focus {
    outline: none;
}
@media only screen and (min-width: 900px) {

    .details{
        width:90%;
    }
    .delete-btn{
        width: 10%;
        font-size: 1.5rem;
    }
    .delete-btn a{
        color: red;
        background-color: white;
        border-radius: 20px;
    }
    #contact-card{
        font-size: 1.5rem;
        width: 35%;
        padding: 1%;
        margin: 0.75%;
        border-radius: 40px;
    }

    form{
        width:60%;
        margin: 3%;
       
    }

    input{
        width: 30%;
        font-size: 1.5rem;
    }

    #add{
        width: 20%;
        border-radius: 20px;
        background-color:  rgb(114, 112, 112);
        border: 1px solid grey;
        color: white;
        font-size: 1.5rem;
        padding: 1%;
        height: 5%;
    }

    #add:hover{
        cursor: pointer;
        background-color: rgb(0, 0, 0);

    }


}
